* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #fd5a46;
  --color-secondary: #058cd7;
  --color-secondary-darker: #0682c5;
  --color-third: #f2f2f2;
  --color-fourth: #00995e;
  --color-fourth-darker: #008854;
  --color-dark: #272228;

  font-family: "Mooli", sans-serif;

  --transition-default: all 300ms ease;
}
